.dashboardbody {
    padding: 2rem 6rem;
    @include respond-to(md) {
        padding: 2rem 3rem;
    }
    @include respond-to(xs) {
        padding: 1rem 2rem;
    }
    label {
        font-family: 'Izmir-Medium';
        font-size: .9rem;
        color: $grey;
    }
    h6 {
        font-family: 'Izmir-Semibold';
        font-size: 1.1rem;
    }
    &_licensekey {
        color: $white;
        font-family: 'Izmir-Semibold';
        font-size: 1.1rem;
        padding: .3rem 0rem;
        border-radius: 10px;
        text-align: center;
        background: linear-gradient(250deg,$secondary, $third);
        box-shadow: 8px 4px 30px -10px rgba(0, 0, 0, 0.06);
    }
    &_card {
        margin-top: 2rem;
        background-image: url('../assets/images/cardbg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 317px;
        height: 196px;
        padding: 1.5rem;
        &_logo {
            float: right;
        }
        h4 {
            margin-top: 1rem;
            font-family: 'Izmir-Bold';
            font-size: 1.3rem;
            color: $white;
        }
        h3 {
            margin-top: .5rem;
            font-family: 'Izmir-Semibold';
            font-size: 2.8rem;
            color: $white;
        }
        &_paymentButton {
            margin-top: .5rem;
            background-color: $white;
            border-radius: 20px;
            display: inline-block;
            .title_gradientBorderBtn {
                &::before { 
                    background: none;
                }
                font-size: .9rem;
                padding: .5rem 1rem !important;
                @include respond-to(xs) {
                    margin-top: 0rem;
                }
            }
        }
    }
    &_button {
        display: inline-block;
        &-join {
            background-image: linear-gradient(267deg, $secondary 4.26%, $primary 96.79%);    
            padding: 1rem 3rem;
            margin-top: 2rem;
            color: $white;
        }
        &-cancel {
            background: linear-gradient(266.98deg, #DD2954 4.26%, #E31F4E 96.79%);
            padding: 1rem 2rem;
            margin-top: 1rem;
            color: $white;
        }
        &-logout {
            margin-top: 1rem;
            position: relative;
            border: none;
            padding: 1rem 2rem;
            background: linear-gradient(250deg, #5757D3, #701DC1);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Izmir-Semibold';
            padding: 1rem 3rem;
            &:before {
                content:"";
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                border-radius:40px; 
                padding:4px; 
                background:linear-gradient(267deg, $secondary 4.26%, $primary 96.79%); 
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out; 
                mask-composite: exclude; 
            }
        }
       
        font-family: 'Izmir-Semibold';
        font-size: 1.1rem;
        border-radius: 30px;
        border: 0px;       
        outline: 0px;
        transition: 0.25s;
        &:hover {
            box-shadow: 0 0.5em 0.5em -0.4em rgba($primary, 0.3);
            transform: translateY(-0.1em);
        }
        &:focus {
            outline: transparent;
        }
    }
}