.updated {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 65%;
    align-items: center;
    @include respond-to(lg) {
        width: 80%;
    }
    @include respond-to(md) {
       display: block !important;
       width: 100%;
       margin-bottom: 12rem;
    }
    &_left {
        position: relative;
        img {
            @include respond-to(xxs) {
                width: 380px;
            }
        }
        p {
            position: absolute;
            top: 60px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            color: $white;
            font-family: 'Izmir-Semibold';
            font-size: 1.3rem;
            @include respond-to(xxs) {
                top: 45px;
            }
        }
    }
    &_right {
        text-align: left;
        margin-top: -40px;
        @include respond-to(md) {

        }
        h5 {
            text-align: left;
            font-family: 'Izmir-Medium';
            font-size: 1.1rem;
            color: $grey;
            @include respond-to(md) {
                text-align: center;
                width: 50%;
                display: inline-block;
                margin-top: 1rem;
            }
        }
        @include respond-to(md) {
            text-align: center;
          
        }
    }
}