.footer {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 4rem;
    background: linear-gradient(266.98deg, #5757D3 4.26%, #701DC1 96.79%);
    border-radius: 10px;
  
    @include respond-to(md) {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1.5rem 1.5rem;
    }
    @include respond-to(sm) {
        flex-wrap: wrap;
        padding: 1.5rem 4rem;
    }
    
    &_centerSmBlock {
        display: none;
        @include respond-to(sm) {
            width: 100%;
            display: block;
            margin-bottom: 1rem;
        }
    }
    &_btnBlock {
        button {
            width: 224px;
            display: block;
        }
    }
    &_membershipBtn {
        outline: 0px;
        border-color: transparent;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 0.7rem 0rem;
        p {
            font-family: 'Izmir-Bold';
            background-image: linear-gradient(250deg,$secondary, $third);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 0px;
        }
        background-color: $white;
        &:focus {
            outline: 0px;
        }
    }
    &_contactBtn {
        margin-top: 1rem;
        padding-top: .6rem;
        color: $white;
    }
    &_center {
        p {
            font-family: 'Izmir-Medium';
            font-size: 1rem;
            color: $white;
            span {
                font-family: 'Izmir-Light';
            }
        }
    }
    &_linkBlock {
        color: $white;
        p {
            font-family: 'Izmir-Semibold';
            font-size: 1.2rem;
        }
        a {
            display: block;
            font-family: 'Izmir-Medium';
            font-size: 1rem;
            color: $white;
        }
        @include respond-to(xxs) {
            margin-top: 2rem;
            width: 100%;
            text-align: center;
        }
    }
    &_centerBlock {
        @include respond-to(sm) {
            display: none;
        }
    }
}