.testimonialItem {
    margin-top: 1.2rem;
    padding: 2rem 1.9rem;
    background: $white;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    cursor: pointer;
    &_image {
        margin-left: -4.5rem;
    }
    &_title {
        margin-right: 7rem;
        font-family: 'Izmir-Semibold';
        font-size: 1rem;
        color: $black;
        @include respond-to(lg) {
            margin-right: 3rem;
        }
        @include respond-to(md) {
            margin-right: 0rem;
        }
        @include respond-to(sm) {
            margin-right: 0rem;
            text-align: left;
        }
    }
    &_subtitle {
        font-family: 'Izmir-Semibold';
        font-size: 1.2rem;
        color: $grey;
        @include respond-to(sm) {
            text-align: left;
        }
    }
}