.text_size-1 {
    font-size: 0.625rem;
    line-height: 0.9375rem;
  }
  
  .text_size-2 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  
  .text_size-3 {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
  
  .text_size-4 {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  
  .text_size-5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .text_size-6 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  
  .text_size-7 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  
  .text_size-8 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
  .text_size-9 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  
  .text_size-10 {
    font-size: 2rem;
    line-height: 2.3125rem;
  }
  
  .text_size-11 {
    font-size: 2.625rem;
    line-height: 2.125rem;
  }
  
  .text_style-regular {
    font-family: AdelleSans-Regular;
  }
  
  .text_style-italick {
    font-family: AdelleSans-Italic;
  }
  
  .text_style-bold {
    font-family: AdelleSans-Bold;
  }
  
  .text_style-bolditalic {
    font-family: AdelleSans-BoldItalic;
  }
  
//   a {
//     color: $color-text-link;
//     text-decoration: none;
//     &:focus {
//       color: $color-text-link-focus;
//     }
//     &:active {
//       color: $color-text-link-active;
//     }
//     &:disabled {
//       color: $color-text-link-disabled;
//     }
//   }
  
//   .text_color-white {
//     color: $white;
//   }
  
//   .text_color-brand {
//     color: $brand-accessible;
//   }
//   .text_color_brand-active {
//     color: $brand-accessible-active;
//   }
  
//   .text_color-success {
//     color: $color-text-success;
//   }
  
//   .text_color-error {
//     color: $color-background-error-dark;
//   }
  
//   .text_color-warning {
//     color: $color-background-warning-dark;
//   }
  
//   .text_color-weak {
//     color: $color-background-weak-dark;
//   }
  
//   .text_color-description {
//     color: $color-text-description;
//   }
  
//   .text_whitespace-nowrap {
//     white-space: nowrap;
//   }
  
//   .slds-text-link,
//   .slds-text-link:hover,
//   .slds-text-link:active {
//     color: $brand-accessible;
//   }
  