@import './variables.scss';
@import './screensize';
@import './_font-face';
@import './typography.scss';
@import './header.scss';
@import './main.scss';
@import './button';
@import './title';
@import './aboutus';
@import './common';
@import './features';
@import './featureItem';
@import './testimonials';
@import './testimonialItem';
@import './questions';
@import './questionItem';
@import './updated';
@import './footer';
@import './dashboard';
@import './dashboardheader';
@import './dashboardbody';

@include font-face(
  'Izmir-Black',
  '../assets/fonts/Izmir-Black'
);

@include font-face(
  'Izmir-BlackItalic',
  '../assets/fonts/Izmir-BlackItalic'
);

@include font-face(
  'Izmir-Bold',
  '../assets/fonts/Izmir-Bold'
);

@include font-face(
  'Izmir-BoldItalic',
  '../assets/fonts/Izmir-BoldItalic'
);

@include font-face(
  'Izmir-Extrabold',
  '../assets/fonts/Izmir-Extrabold'
);

@include font-face(
  'Izmir-ExtraboldItalic',
  '../assets/fonts/Izmir-ExtraboldItalic'
);


@include font-face(
  'Izmir-Extralight',
  '../assets/fonts/Izmir-Extralight'
);

@include font-face(
  'Izmir-ExtralightItalic',
  '../assets/fonts/Izmir-ExtralightItalic'
);

@include font-face(
  'Izmir-Hairline',
  '../assets/fonts/Izmir-Hairline'
);

@include font-face(
  'Izmir-HairlineItalic',
  '../assets/fonts/Izmir-HairlineItalic'
);

@include font-face(
  'Izmir-Heavy',
  '../assets/fonts/Izmir-Heavy'
);

@include font-face(
  'Izmir-HeavyItalic',
  '../assets/fonts/Izmir-HeavyItalic'
);

@include font-face(
  'Izmir-Light',
  '../assets/fonts/Izmir-Light'
);

@include font-face(
  'Izmir-LightItalic',
  '../assets/fonts/Izmir-LightItalic'
);

@include font-face(
  'Izmir-Medium',
  '../assets/fonts/Izmir-Medium'
);

@include font-face(
  'Izmir-MediumItalic',
  '../assets/fonts/Izmir-MediumItalic'
);

@include font-face(
  'Izmir-Regular',
  '../assets/fonts/Izmir-Regular'
);

@include font-face(
  'Izmir-RegularItalic',
  '../assets/fonts/Izmir-RegularItalic'
);

@include font-face(
  'Izmir-Semibold',
  '../assets/fonts/Izmir-Semibold'
);

@include font-face(
  'Izmir-SemiboldItalic',
  '../assets/fonts/Izmir-SemiboldItalic'
);

@include font-face(
  'Izmir-Thin',
  '../assets/fonts/Izmir-Thin'
);

@include font-face(
  'Izmir-ThinItalic',
  '../assets/fonts/Izmir-ThinItalic'
);

@include font-face(
  'Izmir-Thin',
  '../assets/fonts/Izmir-Thin'
);

@include font-face(
  'Izmir-ThinItalic',
  '../assets/fonts/Izmir-ThinItalic'
);






.notification {
  color: $secondary;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-third {
  color: $third;
}

.fontSize1 {
  font-size: 1rem;
}