.features {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    @include respond-to(lg) {
        margin-left: 2rem;
        margin-right: 2rem;
    } 
    @include respond-to(sm) {
        margin-left: 3rem;
        margin-right: 3rem;
        display: block !important;
    } 
    @include respond-to(xs) {
        margin-left: 2rem;
        margin-right: 2rem;
        display: block !important;
    } 
    @include respond-to(xxs) {
        margin-left: 1rem;
        margin-right: 1rem;
        display: block !important;
    } 
    &_left {
        width: 50%;
        text-align: right;
        @include respond-to(sm) {
            width: 100%;
        } 
        img {
            width: 100%;
            @include respond-to(sm) {
                display: none;
            }
        }
        h1 {
            margin-right: 10rem;
            @include respond-to(lg) {
                margin-right: 5rem;
            } 
            @include respond-to(sm) {
                text-align: center;
                margin-right: 0rem;
                
            }
        }
        h6 {
            margin-right: 10rem;
            font-family: 'Izmir-Semibold';
            font-size: 1.2rem;
            @include respond-to(lg) {
                margin-right: 5rem;
            } 
            @include respond-to(sm) {
                text-align: center;
                margin-right: 0rem;
                margin-bottom: 4rem;
            }
        }
    }
    &_right {
        width: 50%;
        padding: 0 4rem;
        padding-right: 2rem;
        @include respond-to(sm) {
            width: 100%;
        } 
        @include respond-to(lg) {
            padding: 0 2rem;
        }
        @include respond-to(md) {
            padding: 0 0rem;
        }
    }
}