.testimonials {
    margin-top: 10rem;
    @include respond-to(sm) {
        display: block !important;
    }
    &_left {
        width: 50%;
        background-image: url('../assets/images/testimonialback.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        @include respond-to(sm) {
            width: 100%;
            height: 500px;
        }

        iframe {
            position: absolute !important;
            top: 80px;
            right: 180px;
            @include respond-to(lg) {
                right: 70px;
            }
            @include respond-to(md) {
                right: 100px;
                width: 330px !important;
            }
            @include respond-to(tablet) {
                right: 50px;
                width: 300px !important;
            }
            @include respond-to(sm) {
                // position: relative !important;
                height: 450px !important;
                top: 50px;
                right: 180px;
            }
            @include respond-to(xs) {
                // position: relative !important;
                height: 450px !important;
                top: 50px;
                right: 100px;
            }
            @include respond-to(xxs) {
                right: 40px;
            }
        }
        
        // @include respond-to(sm) {
        //     display: none;
        // }
        
    }
    &_right {
        width: 50%;
        padding: 0 4rem;
        @include respond-to(lg) {
            padding: 0 3rem;
        }
        @include respond-to(md) {
            padding: 0 2rem;
        }
        @include respond-to(sm) {
            width: 100%;
            text-align: center;
        }
        @include respond-to(sm) {
            padding: 0 .3rem;
            margin-top: 5rem;
        }
       
        h6 {
            font-family: 'Izmir-Semibold';
            font-size: 1.2rem;
        }
        h5 {
            margin-right: 10rem;
            font-family: 'Izmir-Medium';
            font-size: 1.2rem;
            color: $grey;
            @include respond-to(md) {
                margin-right: 5rem;
            }
            @include respond-to(sm) {
                margin-right: 0rem;
                padding: 0 4rem;
            }
            @include respond-to(xxs) {
                padding: 0 0.5rem;
            }
        }
        .customscroll {
            &::-webkit-scrollbar-track
            {
                // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 30px;
            }
    
           &::-webkit-scrollbar
            {
                width: 10px;
                background-color: #F5F5F5;
            }
    
            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                background-image: linear-gradient(191.11deg, $secondary 5.7%, $primary 89.29%);
            }
        }
    }
    &_scrollbox {
        overflow-y: auto;
        max-height: 650px;
        margin-top: 2rem;
        margin-left: -4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        @include respond-to(lg) {
            padding-left: 3rem;
            padding-right: 2.5rem;
        }
        @include respond-to(md) {
            padding-left: 3rem;
            padding-right: 1rem;
        }
        @include respond-to(sm) {
            padding-left: 7rem;
            padding-right: 1rem;
        }
        @include respond-to(xxs) {
            max-height: 450px;
        }
        
    }
    
    
}